# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [8]:
import warnings

warnings.filterwarnings("ignore")

In [9]:
import pandas as pd
import yfinance as yf

## How to work with a Ticker object

In [10]:
symbol = "AAPL"
ticker = yf.Ticker(symbol)

### Show ticker info

In [11]:
pd.Series(ticker.info).head(20)

address1                                                One Apple Park Way
city                                                             Cupertino
state                                                                   CA
zip                                                                  95014
country                                                      United States
phone                                                         408 996 1010
website                                              https://www.apple.com
industry                                              Consumer Electronics
industryKey                                           consumer-electronics
industryDisp                                          Consumer Electronics
sector                                                          Technology
sectorKey                                                       technology
sectorDisp                                                      Technology
longBusinessSummary      Apple Inc. designs, manufactures, and markets ...
fullTimeEmployees                                                   161000
companyOfficers          [{'maxAge': 1, 'name': 'Mr. Timothy D. Cook', ...
auditRisk                                                                6
boardRisk                                                                1
compensationRisk                                                         2
shareHolderRightsRisk                                                    1
dtype: object

### Get market data

In [12]:
data = ticker.history(
    period="5d",
    interval="1m",
    start=None,
    end=None,
    actions=True,
    auto_adjust=True,
    back_adjust=False,
)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1673 entries, 2024-08-06 09:30:00-04:00 to 2024-08-12 11:36:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1673 non-null   float64
 1   High          1673 non-null   float64
 2   Low           1673 non-null   float64
 3   Close         1673 non-null   float64
 4   Volume        1673 non-null   int64
 5   Dividends     1673 non-null   float64
 6   Stock Splits  1673 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 104.6 KB

### View company actions

In [13]:
# show actions (dividends, splits)
ticker.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [14]:
ticker.dividends

Series([], Name: Dividends, dtype: float64)

In [15]:
ticker.splits

Series([], Name: Stock Splits, dtype: float64)

### Annual and Quarterly Financial Statement Summary

In [16]:
ticker.financials

,2023-09-30,2022-09-30,2021-09-30,2020-09-30
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0
Tax Rate For Calcs,0.147,0.162,0.133,0.144
Normalized EBITDA,129188000000.0,133138000000.0,123136000000.0,81020000000.0
Net Income From Continuing Operation Net Minority Interest,96995000000.0,99803000000.0,94680000000.0,57411000000.0
Reconciled Depreciation,11519000000.0,11104000000.0,11284000000.0,11056000000.0
Reconciled Cost Of Revenue,214137000000.0,223546000000.0,212981000000.0,169559000000.0
EBITDA,129188000000.0,133138000000.0,123136000000.0,81020000000.0
EBIT,117669000000.0,122034000000.0,111852000000.0,69964000000.0
Net Interest Income,-183000000.0,-106000000.0,198000000.0,890000000.0
Interest Expense,3933000000.0,2931000000.0,2645000000.0,2873000000.0
Interest Income,3750000000.0,2825000000.0,2843000000.0,3763000000.0
Normalized Income,96995000000.0,99803000000.0,94680000000.0,57411000000.0
Net Income From Continuing And Discontinued Operation,96995000000.0,99803000000.0,94680000000.0,57411000000.0
Total Expenses,268984000000.0,274891000000.0,256868000000.0,208227000000.0
Total Operating Income As Reported,114301000000.0,119437000000.0,108949000000.0,66288000000.0
Diluted Average Shares,15812547000.0,16325819000.0,16864919000.0,17528214000.0
Basic Average Shares,15744231000.0,16215963000.0,16701272000.0,17352119000.0
Diluted EPS,6.13,6.11,5.61,3.28
Basic EPS,6.16,6.15,5.67,3.31
Diluted NI Availto Com Stockholders,96995000000.0,99803000000.0,94680000000.0,57411000000.0
Net Income Common Stockholders,96995000000.0,99803000000.0,94680000000.0,57411000000.0
Net Income,96995000000.0,99803000000.0,94680000000.0,57411000000.0
Net Income Including Noncontrolling Interests,96995000000.0,99803000000.0,94680000000.0,57411000000.0
Net Income Continuous Operations,96995000000.0,99803000000.0,94680000000.0,57411000000.0
Tax Provision,16741000000.0,19300000000.0,14527000000.0,9680000000.0
Pretax Income,113736000000.0,119103000000.0,109207000000.0,67091000000.0
Other Income Expense,-382000000.0,-228000000.0,60000000.0,-87000000.0
Other Non Operating Income Expenses,-382000000.0,-228000000.0,60000000.0,-87000000.0
Net Non Operating Interest Income Expense,-183000000.0,-106000000.0,198000000.0,890000000.0
Interest Expense Non Operating,3933000000.0,2931000000.0,2645000000.0,2873000000.0
Interest Income Non Operating,3750000000.0,2825000000.0,2843000000.0,3763000000.0
Operating Income,114301000000.0,119437000000.0,108949000000.0,66288000000.0
Operating Expense,54847000000.0,51345000000.0,43887000000.0,38668000000.0
Research And Development,29915000000.0,26251000000.0,21914000000.0,18752000000.0
Selling General And Administration,24932000000.0,25094000000.0,21973000000.0,19916000000.0
Gross Profit,169148000000.0,170782000000.0,152836000000.0,104956000000.0
Cost Of Revenue,214137000000.0,223546000000.0,212981000000.0,169559000000.0
Total Revenue,383285000000.0,394328000000.0,365817000000.0,274515000000.0
Operating Revenue,383285000000.0,394328000000.0,365817000000.0,274515000000.0

In [17]:
ticker.quarterly_financials

,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0,0.0,NaN
Tax Rate For Calcs,0.158,0.159,0.149715,0.125,0.149,NaN
Normalized EBITDA,30736000000.0,43221000000.0,30653000000.0,26783000000.0,31216000000.0,NaN
Net Income From Continuing Operation Net Minority Interest,23636000000.0,33916000000.0,22956000000.0,19881000000.0,24160000000.0,NaN
Reconciled Depreciation,2836000000.0,2848000000.0,2653000000.0,3052000000.0,2898000000.0,NaN
Reconciled Cost Of Revenue,48482000000.0,64720000000.0,49071000000.0,45384000000.0,52860000000.0,NaN
EBITDA,30736000000.0,43221000000.0,30653000000.0,26783000000.0,31216000000.0,NaN
EBIT,27900000000.0,40373000000.0,28000000000.0,23731000000.0,28318000000.0,NaN
Net Interest Income,NaN,NaN,-18000000.0,-18000000.0,-12000000.0,-135000000.0
Interest Expense,NaN,NaN,1002000000.0,998000000.0,930000000.0,1003000000.0
Interest Income,NaN,NaN,984000000.0,980000000.0,918000000.0,868000000.0
Normalized Income,23636000000.0,33916000000.0,22956000000.0,19881000000.0,24160000000.0,NaN
Net Income From Continuing And Discontinued Operation,23636000000.0,33916000000.0,22956000000.0,19881000000.0,24160000000.0,NaN
Total Expenses,62853000000.0,79202000000.0,62529000000.0,58799000000.0,66518000000.0,NaN
Total Operating Income As Reported,27900000000.0,40373000000.0,26969000000.0,22998000000.0,28318000000.0,NaN
Diluted Average Shares,15464709000.0,15576641000.0,15672400000.0,15775021000.0,15847050000.0,NaN
Basic Average Shares,15405856000.0,15509763000.0,15599434000.0,15697614000.0,15787154000.0,NaN
Diluted EPS,1.53,2.18,1.46,1.26,1.52,NaN
Basic EPS,1.53,2.19,1.47,1.27,1.53,NaN
Diluted NI Availto Com Stockholders,23636000000.0,33916000000.0,22956000000.0,19881000000.0,24160000000.0,NaN
Net Income Common Stockholders,23636000000.0,33916000000.0,22956000000.0,19881000000.0,24160000000.0,NaN
Net Income,23636000000.0,33916000000.0,22956000000.0,19881000000.0,24160000000.0,NaN
Net Income Including Noncontrolling Interests,23636000000.0,33916000000.0,22956000000.0,19881000000.0,24160000000.0,NaN
Net Income Continuous Operations,23636000000.0,33916000000.0,22956000000.0,19881000000.0,24160000000.0,NaN
Tax Provision,4422000000.0,6407000000.0,4042000000.0,2852000000.0,4222000000.0,NaN
Pretax Income,28058000000.0,40323000000.0,26998000000.0,22733000000.0,28382000000.0,NaN
Other Income Expense,158000000.0,-50000000.0,47000000.0,-247000000.0,64000000.0,NaN
Other Non Operating Income Expenses,158000000.0,-50000000.0,47000000.0,-247000000.0,64000000.0,NaN
Net Non Operating Interest Income Expense,NaN,NaN,-18000000.0,-18000000.0,-12000000.0,-135000000.0
Interest Expense Non Operating,NaN,NaN,1002000000.0,998000000.0,930000000.0,1003000000.0
Interest Income Non Operating,NaN,NaN,984000000.0,980000000.0,918000000.0,868000000.0
Operating Income,27900000000.0,40373000000.0,26969000000.0,22998000000.0,28318000000.0,NaN
Operating Expense,14371000000.0,14482000000.0,13458000000.0,13415000000.0,13658000000.0,NaN
Research And Development,7903000000.0,7696000000.0,7307000000.0,7442000000.0,7457000000.0,NaN
Selling General And Administration,6468000000.0,6786000000.0,6151000000.0,5973000000.0,6201000000.0,NaN
Gross Profit,42271000000.0,54855000000.0,40427000000.0,36413000000.0,41976000000.0,NaN
Cost Of Revenue,48482000000.0,64720000000.0,49071000000.0,45384000000.0,52860000000.0,NaN
Total Revenue,90753000000.0,119575000000.0,89498000000.0,81797000000.0,94836000000.0,NaN
Operating Revenue,90753000000.0,119575000000.0,89498000000.0,81797000000.0,94836000000.0,NaN

### Annual and Quarterly Balance Sheet

In [18]:
ticker.balance_sheet

,2023-09-30,2022-09-30,2021-09-30,2020-09-30,2019-09-30
Treasury Shares Number,0.0,NaN,NaN,NaN,NaN
Ordinary Shares Number,15550061000.0,15943425000.0,16426786000.0,16976763000.0,NaN
Share Issued,15550061000.0,15943425000.0,16426786000.0,16976763000.0,NaN
Net Debt,81123000000.0,96423000000.0,89779000000.0,74420000000.0,NaN
Total Debt,123930000000.0,132480000000.0,136522000000.0,122278000000.0,NaN
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,61555000000.0,48304000000.0,62639000000.0,90943000000.0,NaN
Other Short Term Investments,31590000000.0,24658000000.0,27699000000.0,52927000000.0,NaN
Cash And Cash Equivalents,29965000000.0,23646000000.0,34940000000.0,38016000000.0,NaN
Cash Equivalents,1606000000.0,5100000000.0,17635000000.0,20243000000.0,NaN
Cash Financial,28359000000.0,18546000000.0,17305000000.0,17773000000.0,NaN

In [19]:
ticker.quarterly_balance_sheet

,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31
Treasury Shares Number,NaN,0.0,0.0,NaN,NaN,NaN
Ordinary Shares Number,15337686000.0,15460223000.0,15550061000.0,15647868000.0,15723406000.0,NaN
Share Issued,15337686000.0,15460223000.0,15550061000.0,15647868000.0,15723406000.0,NaN
Net Debt,71895000000.0,67280000000.0,81123000000.0,80872000000.0,84928000000.0,NaN
Total Debt,104590000000.0,108040000000.0,123930000000.0,109280000000.0,109615000000.0,NaN
...,...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,67150000000.0,73100000000.0,61555000000.0,62482000000.0,55872000000.0,NaN
Other Short Term Investments,34455000000.0,32340000000.0,31590000000.0,34074000000.0,31185000000.0,NaN
Cash And Cash Equivalents,32695000000.0,40760000000.0,29965000000.0,28408000000.0,24687000000.0,NaN
Cash Equivalents,4468000000.0,11218000000.0,1606000000.0,3071000000.0,4637000000.0,NaN
Cash Financial,28227000000.0,29542000000.0,28359000000.0,25337000000.0,20050000000.0,NaN

### Annual and Quarterly Cashflow Statement

In [20]:
ticker.cashflow

,2023-09-30,2022-09-30,2021-09-30,2020-09-30,2019-09-30
Free Cash Flow,99584000000.0,111443000000.0,92953000000.0,73365000000.0,NaN
Repurchase Of Capital Stock,-77550000000.0,-89402000000.0,-85971000000.0,-72358000000.0,NaN
Repayment Of Debt,-11151000000.0,-9543000000.0,-8750000000.0,-12629000000.0,NaN
Issuance Of Debt,5228000000.0,5465000000.0,20393000000.0,16091000000.0,NaN
Issuance Of Capital Stock,NaN,NaN,1105000000.0,880000000.0,781000000.0
Capital Expenditure,-10959000000.0,-10708000000.0,-11085000000.0,-7309000000.0,NaN
Interest Paid Supplemental Data,3803000000.0,2865000000.0,2687000000.0,3002000000.0,NaN
Income Tax Paid Supplemental Data,18679000000.0,19573000000.0,25385000000.0,9501000000.0,NaN
End Cash Position,30737000000.0,24977000000.0,35929000000.0,39789000000.0,NaN
Beginning Cash Position,24977000000.0,35929000000.0,39789000000.0,50224000000.0,NaN
Changes In Cash,5760000000.0,-10952000000.0,-3860000000.0,-10435000000.0,NaN
Financing Cash Flow,-108488000000.0,-110749000000.0,-93353000000.0,-86820000000.0,NaN
Cash Flow From Continuing Financing Activities,-108488000000.0,-110749000000.0,-93353000000.0,-86820000000.0,NaN
Net Other Financing Charges,-6012000000.0,-6383000000.0,-5580000000.0,-2880000000.0,NaN
Cash Dividends Paid,-15025000000.0,-14841000000.0,-14467000000.0,-14081000000.0,NaN
Common Stock Dividend Paid,-15025000000.0,-14841000000.0,-14467000000.0,-14081000000.0,NaN
Net Common Stock Issuance,-77550000000.0,-89402000000.0,-85971000000.0,-72358000000.0,NaN
Common Stock Payments,-77550000000.0,-89402000000.0,-85971000000.0,-72358000000.0,NaN
Common Stock Issuance,NaN,NaN,1105000000.0,880000000.0,781000000.0
Net Issuance Payments Of Debt,-9901000000.0,-123000000.0,12665000000.0,2499000000.0,NaN
Net Short Term Debt Issuance,-3978000000.0,3955000000.0,1022000000.0,-963000000.0,NaN
Net Long Term Debt Issuance,-5923000000.0,-4078000000.0,11643000000.0,3462000000.0,NaN
Long Term Debt Payments,-11151000000.0,-9543000000.0,-8750000000.0,-12629000000.0,NaN
Long Term Debt Issuance,5228000000.0,5465000000.0,20393000000.0,16091000000.0,NaN
Investing Cash Flow,3705000000.0,-22354000000.0,-14545000000.0,-4289000000.0,NaN
Cash Flow From Continuing Investing Activities,3705000000.0,-22354000000.0,-14545000000.0,-4289000000.0,NaN
Net Other Investing Changes,-1337000000.0,-2086000000.0,-385000000.0,-909000000.0,NaN
Net Investment Purchase And Sale,16001000000.0,-9560000000.0,-3075000000.0,5453000000.0,NaN
Sale Of Investment,45514000000.0,67363000000.0,106483000000.0,120391000000.0,NaN
Purchase Of Investment,-29513000000.0,-76923000000.0,-109558000000.0,-114938000000.0,NaN
Net Business Purchase And Sale,NaN,-306000000.0,-33000000.0,-1524000000.0,-624000000.0
Purchase Of Business,NaN,-306000000.0,-33000000.0,-1524000000.0,-624000000.0
Net PPE Purchase And Sale,-10959000000.0,-10708000000.0,-11085000000.0,-7309000000.0,NaN
Purchase Of PPE,-10959000000.0,-10708000000.0,-11085000000.0,-7309000000.0,NaN
Operating Cash Flow,110543000000.0,122151000000.0,104038000000.0,80674000000.0,NaN
Cash Flow From Continuing Operating Activities,110543000000.0,122151000000.0,104038000000.0,80674000000.0,NaN
Change In Working Capital,-6577000000.0,1200000000.0,-4911000000.0,5690000000.0,NaN
Change In Other Working Capital,NaN,478000000.0,1676000000.0,2081000000.0,-625000000.0
Change In Other Current Liabilities,3031000000.0,6110000000.0,7475000000.0,8916000000.0,NaN
Change In Other Current Assets,-5684000000.0,-6499000000.0,-8042000000.0,-9588000000.0,NaN
Change In Payables And Accrued Expense,-1889000000.0,9448000000.0,12326000000.0,-4062000000.0,NaN
Change In Payable,-1889000000.0,9448000000.0,12326000000.0,-4062000000.0,NaN
Change In Account Payable,-1889000000.0,9448000000.0,12326000000.0,-4062000000.0,NaN
Change In Inventory,-1618000000.0,1484000000.0,-2642000000.0,-127000000.0,NaN
Change In Receivables,-417000000.0,-9343000000.0,-14028000000.0,8470000000.0,NaN
Changes In Account Receivables,-1688000000.0,-1823000000.0,-10125000000.0,6917000000.0,NaN
Other Non Cash Items,-2227000000.0,1006000000.0,-4921000000.0,-97000000.0,NaN
Stock Based Compensation,10833000000.0,9038000000.0,7906000000.0,6829000000.0,NaN
Deferred Tax,NaN,895000000.0,-4774000000.0,-215000000.0,-340000000.0
Deferred Income Tax,NaN,895000000.0,-4774000000.0,-215000000.0,-340000000.0
Depreciation Amortization Depletion,11519000000.0,11104000000.0,11284000000.0,11056000000.0,NaN
Depreciation And Amortization,11519000000.0,11104000000.0,11284000000.0,11056000000.0,NaN
Net Income From Continuing Operations,96995000000.0,99803000000.0,94680000000.0,57411000000.0,NaN

In [21]:
ticker.quarterly_cashflow

,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31
Free Cash Flow,20694000000.0,37503000000.0,19435000000.0,24287000000.0,25644000000.0,NaN
Repurchase Of Capital Stock,-23205000000.0,-20139000000.0,-21003000000.0,-17478000000.0,-19594000000.0,NaN
Repayment Of Debt,-3148000000.0,-3984000000.0,0.0,460000000.0,-1996000000.0,NaN
Issuance Of Debt,NaN,NaN,0.0,NaN,NaN,NaN
Capital Expenditure,-1996000000.0,-2392000000.0,-2163000000.0,-2093000000.0,-2916000000.0,NaN
Interest Paid Supplemental Data,NaN,NaN,1213000000.0,717000000.0,1170000000.0,703000000.0
Income Tax Paid Supplemental Data,7276000000.0,7255000000.0,11659000000.0,2126000000.0,4066000000.0,NaN
End Cash Position,33921000000.0,41974000000.0,30737000000.0,29898000000.0,27129000000.0,NaN
Beginning Cash Position,41974000000.0,30737000000.0,29898000000.0,27129000000.0,21974000000.0,NaN
Changes In Cash,-8053000000.0,11237000000.0,839000000.0,2769000000.0,5155000000.0,NaN
Financing Cash Flow,-30433000000.0,-30585000000.0,-23153000000.0,-24048000000.0,-25724000000.0,NaN
Cash Flow From Continuing Financing Activities,-30433000000.0,-30585000000.0,-23153000000.0,-24048000000.0,-25724000000.0,NaN
Net Other Financing Charges,-370000000.0,-2637000000.0,-385000000.0,-2438000000.0,-484000000.0,NaN
Cash Dividends Paid,-3710000000.0,-3825000000.0,-3758000000.0,-3849000000.0,-3650000000.0,NaN
Common Stock Dividend Paid,-3710000000.0,-3825000000.0,-3758000000.0,-3849000000.0,-3650000000.0,NaN
Net Common Stock Issuance,-23205000000.0,-20139000000.0,-21003000000.0,-17478000000.0,-19594000000.0,NaN
Common Stock Payments,-23205000000.0,-20139000000.0,-21003000000.0,-17478000000.0,-19594000000.0,NaN
Net Issuance Payments Of Debt,-3148000000.0,-3984000000.0,1993000000.0,-283000000.0,-1996000000.0,NaN
Net Short Term Debt Issuance,2000000.0,-3984000000.0,1993000000.0,1989000000.0,254000000.0,NaN
Short Term Debt Payments,2000000.0,-3984000000.0,NaN,NaN,254000000.0,-8214000000.0
Net Long Term Debt Issuance,-3150000000.0,0.0,0.0,-2272000000.0,-2250000000.0,NaN
Long Term Debt Payments,-3150000000.0,0.0,0.0,-7500000000.0,-2250000000.0,NaN
Long Term Debt Issuance,NaN,NaN,0.0,NaN,NaN,NaN
Investing Cash Flow,-310000000.0,1927000000.0,2394000000.0,437000000.0,2319000000.0,NaN
Cash Flow From Continuing Investing Activities,-310000000.0,1927000000.0,2394000000.0,437000000.0,2319000000.0,NaN
Net Other Investing Changes,-445000000.0,-284000000.0,-584000000.0,-506000000.0,-106000000.0,NaN
Net Investment Purchase And Sale,2131000000.0,4603000000.0,5141000000.0,3036000000.0,5341000000.0,NaN
Sale Of Investment,17393000000.0,14383000000.0,13698000000.0,12795000000.0,11385000000.0,NaN
Purchase Of Investment,-15262000000.0,-9780000000.0,-8557000000.0,-9759000000.0,-6044000000.0,NaN
Net PPE Purchase And Sale,-1996000000.0,-2392000000.0,-2163000000.0,-2093000000.0,-2916000000.0,NaN
Purchase Of PPE,-1996000000.0,-2392000000.0,-2163000000.0,-2093000000.0,-2916000000.0,NaN
Operating Cash Flow,22690000000.0,39895000000.0,21598000000.0,26380000000.0,28560000000.0,NaN
Cash Flow From Continuing Operating Activities,22690000000.0,39895000000.0,21598000000.0,26380000000.0,28560000000.0,NaN
Change In Working Capital,-5764000000.0,1123000000.0,-6060000000.0,749000000.0,231000000.0,NaN
Change In Other Working Capital,NaN,NaN,NaN,NaN,NaN,131000000.0
Change In Other Current Liabilities,428000000.0,-3865000000.0,45000000.0,1229000000.0,-2132000000.0,NaN
Change In Other Current Assets,-2981000000.0,-1457000000.0,-821000000.0,-771000000.0,7000000.0,NaN
Change In Payables And Accrued Expense,-12168000000.0,-4542000000.0,14901000000.0,3974000000.0,-14689000000.0,NaN
Change In Payable,-12168000000.0,-4542000000.0,14901000000.0,3974000000.0,-14689000000.0,NaN
Change In Account Payable,-12168000000.0,-4542000000.0,14901000000.0,3974000000.0,-14689000000.0,NaN
Change In Inventory,190000000.0,-137000000.0,952000000.0,-22000000.0,-741000000.0,NaN
Change In Receivables,8767000000.0,11124000000.0,-21137000000.0,-3661000000.0,17786000000.0,NaN
Changes In Account Receivables,1172000000.0,6555000000.0,-9297000000.0,-1987000000.0,5321000000.0,NaN
Other Non Cash Items,-982000000.0,-989000000.0,-576000000.0,81000000.0,-1415000000.0,NaN
Stock Based Compensation,2964000000.0,2997000000.0,2625000000.0,2617000000.0,2686000000.0,NaN
Depreciation Amortization Depletion,2836000000.0,2848000000.0,2653000000.0,3052000000.0,2898000000.0,NaN
Depreciation And Amortization,2836000000.0,2848000000.0,2653000000.0,3052000000.0,2898000000.0,NaN
Net Income From Continuing Operations,23636000000.0,33916000000.0,22956000000.0,19881000000.0,24160000000.0,NaN

In [22]:
ticker.earnings

In [23]:
ticker.quarterly_earnings

### Sustainability: Environmental, Social and Governance (ESG)

In [24]:
ticker.sustainability

                                                                           esgScores
maxAge                                                                         86400
totalEsg                                                                       17.22
environmentScore                                                                0.46
socialScore                                                                     7.39
governanceScore                                                                 9.37
ratingYear                                                                      2023
ratingMonth                                                                        9
highestControversy                                                               3.0
peerCount                                                                         55
esgPerformance                                                            UNDER_PERF
peerGroup                                                        Technology Hardware
relatedControversy                 [Social Supply Chain Incidents, Customer Incid...
peerEsgScorePerformance            {'min': 6.37, 'avg': 15.565636363636367, 'max'...
peerGovernancePerformance          {'min': 3.44, 'avg': 6.928431372549018, 'max':...
peerSocialPerformance              {'min': 1.75, 'avg': 5.536862745098038, 'max':...
peerEnvironmentPerformance         {'min': 0.11, 'avg': 3.0588235294117636, 'max'...
peerHighestControversyPerformance  {'min': 0.0, 'avg': 1.5454545454545454, 'max':...
percentile                                                                     17.82
environmentPercentile                                                           None
socialPercentile                                                                None
governancePercentile                                                            None
adult                                                                          False
alcoholic                                                                      False
animalTesting                                                                  False
catholic                                                                       False
controversialWeapons                                                           False
smallArms                                                                      False
furLeather                                                                     False
gambling                                                                       False
gmo                                                                            False
militaryContract                                                               False
nuclear                                                                        False
pesticides                                                                     False
palmOil                                                                        False
coal                                                                           False
tobacco                                                                        False

### Analyst Recommendations

In [25]:
ticker.recommendations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   period      4 non-null      object
 1   strongBuy   4 non-null      int64
 2   buy         4 non-null      int64
 3   hold        4 non-null      int64
 4   sell        4 non-null      int64
 5   strongSell  4 non-null      int64
dtypes: int64(5), object(1)
memory usage: 324.0+ bytes

In [26]:
ticker.recommendations.tail(10)

  period  strongBuy  buy  hold  sell  strongSell
0     0m         11   21     6     0           0
1    -1m         12   19    12     1           0
2    -2m         10   19    13     1           0
3    -3m         10   24     7     1           0

### Upcoming Events

In [27]:
ticker.calendar

{'Dividend Date': datetime.date(2024, 8, 15),
 'Ex-Dividend Date': datetime.date(2024, 8, 12),
 'Earnings Date': [datetime.date(2024, 10, 31), datetime.date(2024, 11, 4)],
 'Earnings High': 1.63,
 'Earnings Low': 1.53,
 'Earnings Average': 1.59,
 'Revenue High': 95311000000,
 'Revenue Low': 93653000000,
 'Revenue Average': 94242200000}

### Option Expiration Dates

In [28]:
ticker.options

('2024-08-16',
 '2024-08-23',
 '2024-08-30',
 '2024-09-06',
 '2024-09-13',
 '2024-09-20',
 '2024-09-27',
 '2024-10-18',
 '2024-11-15',
 '2024-12-20',
 '2025-01-17',
 '2025-03-21',
 '2025-06-20',
 '2025-08-15',
 '2025-09-19',
 '2025-12-19',
 '2026-01-16',
 '2026-06-18',
 '2026-12-18')

In [29]:
expiration = ticker.options[0]

In [30]:
options = ticker.option_chain(expiration)

In [31]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     68 non-null     object
 1   lastTradeDate      68 non-null     datetime64[ns, UTC]
 2   strike             68 non-null     float64
 3   lastPrice          68 non-null     float64
 4   bid                68 non-null     float64
 5   ask                68 non-null     float64
 6   change             68 non-null     float64
 7   percentChange      68 non-null     float64
 8   volume             67 non-null     float64
 9   openInterest       68 non-null     int64
 10  impliedVolatility  68 non-null     float64
 11  inTheMoney         68 non-null     bool
 12  contractSize       68 non-null     object
 13  currency           68 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 7.1+ KB

In [32]:
options.calls.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL240816C00005000,2024-08-05 17:41:05+00:00,5.0,206.54,213.00,214.80,0.0,0.0,1.0,0,21.296878,True,REGULAR,USD
1,AAPL240816C00015000,2024-07-16 16:16:43+00:00,15.0,218.30,203.55,204.90,0.0,0.0,6.0,0,14.187501,True,REGULAR,USD
2,AAPL240816C00050000,2024-06-13 19:47:00+00:00,50.0,164.65,179.70,181.90,0.0,0.0,10.0,15,13.638673,True,REGULAR,USD
3,AAPL240816C00080000,2024-07-11 15:06:40+00:00,80.0,147.30,134.95,137.45,0.0,0.0,2.0,84,0.000010,True,REGULAR,USD
4,AAPL240816C00085000,2024-08-09 18:42:39+00:00,85.0,130.38,133.60,134.90,0.0,0.0,10.0,0,4.956058,True,REGULAR,USD

In [33]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     61 non-null     object
 1   lastTradeDate      61 non-null     datetime64[ns, UTC]
 2   strike             61 non-null     float64
 3   lastPrice          61 non-null     float64
 4   bid                60 non-null     float64
 5   ask                61 non-null     float64
 6   change             61 non-null     float64
 7   percentChange      61 non-null     float64
 8   volume             55 non-null     float64
 9   openInterest       60 non-null     float64
 10  impliedVolatility  61 non-null     float64
 11  inTheMoney         61 non-null     bool
 12  contractSize       61 non-null     object
 13  currency           61 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(9), object(3)
memory usage: 6.4+ KB

## Data Download with proxy server

You can use a proxy server to avoid having your IP blacklisted as illustrated below (but need an actual PROXY_SERVER).

In [34]:
PROXY_SERVER = "PROXY_SERVER"

The following will only work with proper PROXY_SERVER...

In [35]:
# msft = yf.Ticker("MSFT")

# msft.history(proxy=PROXY_SERVER)
# msft.get_actions(proxy=PROXY_SERVER)
# msft.get_dividends(proxy=PROXY_SERVER)
# msft.get_splits(proxy=PROXY_SERVER)
# msft.get_balance_sheet(proxy=PROXY_SERVER)
# msft.get_cashflow(proxy=PROXY_SERVER)
# msft.option_chain(proxy=PROXY_SERVER)

## Downloading multiple symbols

In [36]:
tickers = yf.Tickers("msft aapl goog")

In [37]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [38]:
pd.Series(tickers.tickers["MSFT"].info)

address1             One Microsoft Way
city                           Redmond
state                               WA
zip                         98052-6399
country                  United States
                           ...
grossMargins                   0.69764
ebitdaMargins                  0.52804
operatingMargins               0.43143
financialCurrency                  USD
trailingPegRatio                2.1871
Length: 132, dtype: object

In [39]:
tickers.tickers["AAPL"].history(period="1mo")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-07-12 00:00:00-04:00,228.919998,232.639999,228.679993,230.539993,53046500,0.0,0.0
2024-07-15 00:00:00-04:00,236.479996,237.229996,233.089996,234.399994,62631300,0.0,0.0
2024-07-16 00:00:00-04:00,235.000000,236.270004,232.330002,234.820007,43234300,0.0,0.0
2024-07-17 00:00:00-04:00,229.449997,231.460007,226.639999,228.880005,57345900,0.0,0.0
2024-07-18 00:00:00-04:00,230.279999,230.440002,222.270004,224.179993,66034600,0.0,0.0
2024-07-19 00:00:00-04:00,224.820007,226.800003,223.279999,224.309998,49151500,0.0,0.0
2024-07-22 00:00:00-04:00,227.009995,227.779999,223.089996,223.960007,48201800,0.0,0.0
2024-07-23 00:00:00-04:00,224.369995,226.940002,222.679993,225.009995,39960300,0.0,0.0
2024-07-24 00:00:00-04:00,224.000000,224.800003,217.130005,218.539993,61777600,0.0,0.0
2024-07-25 00:00:00-04:00,218.929993,220.850006,214.619995,217.490005,51391200,0.0,0.0
2024-07-26 00:00:00-04:00,218.699997,219.490005,216.009995,217.960007,41601300,0.0,0.0
2024-07-29 00:00:00-04:00,216.960007,219.300003,215.750000,218.240005,36311800,0.0,0.0
2024-07-30 00:00:00-04:00,219.190002,220.330002,216.119995,218.800003,41643800,0.0,0.0
2024-07-31 00:00:00-04:00,221.440002,223.820007,220.630005,222.080002,50036300,0.0,0.0
2024-08-01 00:00:00-04:00,224.369995,224.479996,217.020004,218.360001,62501000,0.0,0.0
2024-08-02 00:00:00-04:00,219.149994,225.600006,217.710007,219.860001,105568600,0.0,0.0
2024-08-05 00:00:00-04:00,199.089996,213.500000,196.000000,209.270004,119548600,0.0,0.0
2024-08-06 00:00:00-04:00,205.300003,209.990005,201.070007,207.229996,69660500,0.0,0.0
2024-08-07 00:00:00-04:00,206.899994,213.639999,206.389999,209.820007,63516400,0.0,0.0
2024-08-08 00:00:00-04:00,213.110001,214.199997,208.830002,213.309998,47161100,0.0,0.0
2024-08-09 00:00:00-04:00,212.100006,216.779999,211.970001,216.240005,42171700,0.0,0.0
2024-08-12 00:00:00-04:00,216.000000,219.509903,215.600006,217.554993,15260536,0.0,0.0

In [40]:
tickers.history(period="1mo").stack(-1)

[*********************100%%**********************]  3 of 3 completed

Price                   Close  Dividends        High         Low        Open  \
Date       Ticker
2024-07-12 AAPL    230.539993        0.0  232.639999  228.679993  228.919998
           GOOG    186.779999        0.0  188.690002  186.139999  186.919998
           MSFT    453.549988        0.0  456.359985  450.649994  454.329987
2024-07-15 AAPL    234.399994        0.0  237.229996  233.089996  236.479996
           GOOG    188.190002        0.0  189.899994  186.490005  186.490005
...                       ...        ...         ...         ...         ...
2024-08-09 GOOG    165.389999        0.0  165.520004  160.929993  161.645004
           MSFT    406.019989        0.0  408.049988  402.260010  404.029999
2024-08-12 AAPL    217.554993        0.0  219.509903  215.600006  216.000000
           GOOG    164.240005        0.0  166.684799  163.940002  165.994995
           MSFT    405.880005        0.0  408.320007  404.243408  407.239990

Price              Stock Splits    Volume
Date       Ticker
2024-07-12 AAPL             0.0  53046500
           GOOG             0.0  14449100
           MSFT             0.0  16324300
2024-07-15 AAPL             0.0  62631300
           GOOG             0.0  12186000
...                         ...       ...
2024-08-09 GOOG             0.0  13544700
           MSFT             0.0  19018300
2024-08-12 AAPL             0.0  15260607
           GOOG             0.0   4003021
           MSFT             0.0   5931021

[66 rows x 7 columns]

In [41]:
data = yf.download("SPY AAPL", start="2020-01-01", end="2020-01-05")

[*********************100%%**********************]  2 of 2 completed

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2020-01-02 to 2020-01-03
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2 non-null      float64
 1   (Adj Close, SPY)   2 non-null      float64
 2   (Close, AAPL)      2 non-null      float64
 3   (Close, SPY)       2 non-null      float64
 4   (High, AAPL)       2 non-null      float64
 5   (High, SPY)        2 non-null      float64
 6   (Low, AAPL)        2 non-null      float64
 7   (Low, SPY)         2 non-null      float64
 8   (Open, AAPL)       2 non-null      float64
 9   (Open, SPY)        2 non-null      float64
 10  (Volume, AAPL)     2 non-null      int64
 11  (Volume, SPY)      2 non-null      int64
dtypes: float64(10), int64(2)
memory usage: 208.0 bytes

In [43]:
data = yf.download(
    tickers="SPY AAPL MSFT",  # list or string
    # use "period" instead of start/end
    # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
    # (optional, default is '1mo')
    period="5d",
    # fetch data by interval (including intraday if period < 60 days)
    # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
    # (optional, default is '1d')
    interval="1m",
    # group by ticker (to access via data['SPY'])
    # (optional, default is 'column')
    group_by="ticker",
    # adjust all OHLC automatically
    # (optional, default is False)
    auto_adjust=True,
    # download pre/post regular market hours data
    # (optional, default is False)
    prepost=True,
    # use threads for mass downloading? (True/False/Integer)
    # (optional, default is True)
    threads=True,
    # proxy URL scheme use use when downloading?
    # (optional, default is None)
    proxy=None,
)

[*********************100%%**********************]  3 of 3 completed

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4296 entries, 2024-08-06 04:00:00-04:00 to 2024-08-12 11:36:00-04:00
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (MSFT, Open)    4064 non-null   float64
 1   (MSFT, High)    4064 non-null   float64
 2   (MSFT, Low)     4064 non-null   float64
 3   (MSFT, Close)   4064 non-null   float64
 4   (MSFT, Volume)  4064 non-null   float64
 5   (SPY, Open)     4201 non-null   float64
 6   (SPY, High)     4201 non-null   float64
 7   (SPY, Low)      4201 non-null   float64
 8   (SPY, Close)    4201 non-null   float64
 9   (SPY, Volume)   4201 non-null   float64
 10  (AAPL, Open)    4088 non-null   float64
 11  (AAPL, High)    4088 non-null   float64
 12  (AAPL, Low)     4088 non-null   float64
 13  (AAPL, Close)   4088 non-null   float64
 14  (AAPL, Volume)  4088 non-null   float64
dtypes: float64(15)
memory usage: 537.0 KB